body {
  
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-menu {
}

.game-menu .card {
}

.game-menu .card + .card {
  margin-top: 10px;
}

.game-container { 
}

.game-board {
  border-collapse: collapse;
  background-color: green;
  table-layout: fixed;
  width:100%;
}

td {
  padding: 20px;
  border: 1px solid;
  width: 3em;
  height: 3em;
}

td:hover {
  background-color: gray;
}

.piece {
  position: relative;
  border-radius: 50%;
  top: 25%;
  left: 25%;
  width: 50% ;
  padding: 25%;
}

.player-1 {  
  background: black;  
 
}

.player-2 {
  background-color: white;
}

.move-indicator {
  top: 40%;
  left: 40%;
  width: 10%;
  padding: 10%;
}